{% extends 'base.html' %} 
{% block title %} 
Home 
{% endblock %} 


{% block main_content %}
	<div style="background-color: #e79898;text-align: center;">	</div>
	<div class="123123">
					
					
					
					</div>
<section id="disclaimer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
						Invalid username or password
					</div>
				</div>
				</div>
			</div>
		</section>
{% endblock %}
