{% extends 'base.html' %} 
{% block title %} 
Home 
{% endblock %} 


{% block main_content %}


{% include 'navbar.html' %}
		
		
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
					<div class="wow  bounceInRight lk_inner_page  animated" style="visibility: visible; animation-name: bounceInRight;">
						<div class="center">
	<h1>Статус</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="lk_block wow fadeUp animated animated" style="visibility: visible; min-height: auto;">
			«Статус» - это статус в компании, который определяет Ваше развитие в рамках партнерской программы<br>
<br>
Наш холдинг развивает свою партнерскую сеть опираясь на принципы 
бизнес-лидерства. Как показывает практика, на каждом из этапов развития 
карьеры наших партнеров, требуются разные инструменты.<br>
Каждый из уровней статуса предполагает доступ к разным инструментам, 
которые позволят развиваться в рамках партнерской программы наиболее 
эффективно. <br>
«Статусов» всего 4:<br>
«Basic» - базовый уровень<br>
«Intermediate» - средний уровень<br>
«Advanced» - продвинутый уровень<br>
«Top leaders» - ТОП уровень компании<br>
<br>
Ваш статус определяет доступ к набору инструментов и материалов, которые
 помогут Вам максимально быстро перейти на следующий этап. Мы глубоко 
убеждены, что это позволит построить эффективный и прибыльный бизнес в 
нашей компании.		</div>
	</div>
	<div class="clear"></div>
</div>
					</div>
					<br>
				</div><br>
	</div>
	<div class="clear"></div>
</div>
		
			
		
	
</section>
{% endblock %}
